body{
    padding-top: 40px;
}
.footer-ul a{
    color: #fff;
}
.footer-ul a:hover{
    color: #0275d8;
}
.color{
    color: #fff;
}
.footer-color,footer a{
    color: #fff;
}
.footer-color h3,.list-inline-item{
    color: #f0ad4e;
}
iframe{
    width: 600px;
    height: 450px;
}
.zoom{
	transition: 0.3s;
	cursor: pointer;
}
.zoom:hover{
	transform: scale(1.2);
}
